.appLockup {
    margin: 50px auto;
    width: 80%;
    max-width: 350px;
    background-color: #666;
    height: 400px;
    padding: 20px 0px;
    text-align: center;
    border-radius: 8px;
    border-bottom: solid 4px #333;
    box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22);
}

p {
    border-top: solid 4px #333;
    border-radius: 6px;
    background-color: #ccc;
    width: 80%;
    height: 45px;
    margin: 10px auto 30px auto;
    font-size: 26px;
    line-height: 45px;
    text-align: right;
    padding-right: 20px;
    
}

button {
    border-radius: 8px;
    width: 18%;
    margin: 15px 5px;
    height: 50px;
    background-color: #eee;
    font-size: 20px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

button:active {
    border: none;
    box-shadow: none;
    transition: height 4s;
    transition-delay: 4s;
}

button:focus {
    outline:0;
}

button:hover {
    background-color: #fff;   
}

.operator {
    background-color: #bbb;   
}